#drawer {
    position: fixed;

    width: min(max(20%, 180px), 400px);
    height: 100%;

    transform: translateX(-400px);
    transition: transform 0.5s ease;

    background-color: rgb(233, 233, 233);
    padding: 10px 10px;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    
    z-index: 3;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#drawer.side-reveal {
    transform: translateX(0px);
}

#drawer h2 {
    font-weight: 600;
    font-size: 24px;
}

#drawer h3 {
    font-weight: 500;
    font-size: 20px;
}

#drawer .palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
}

#drawer .palette .element {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 4px solid black;
}

#drawer .palette .element:hover {
    border: 4px solid #900;
}

#drawer .palette .element.selected {
    border: 4px solid rgb(211, 131, 18);
}

#drawer .palette .element > * {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

#ground {
    background-color: #f0f0f0;
}

#box-cell {
    background-color: #964500;
}

#wall {
    background-color: #505050;
}

#drawer .palette .element img {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

#drawer .palette .element label {
    display: block;
    padding-top: 5px; 
    font-size: 12px;
}