#modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(235, 235, 235, 0.838);
    padding: 10px 50px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    z-index: 3;

    text-align: center;
}

#modal h1 {
    font-family: 'Creepster', cursive;
    font-size: 40px;
    margin: 0;
    font-weight: 300;
    color: rgb(153, 0, 0);
    padding-bottom: 20px;
}

#modal button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;

    padding: 12px 28px;
    border-radius: 6px;

    background-color: #1a1a1a;
    color: #ffffff;

    border: 4px dashed #ffffff;

    cursor: pointer;
    transition: 0.25s ease;
}

.animate-button:not(:hover) {
    animation-name: blink;
    animation-duration: 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.7, 0.2, 0.2, 0.7);
}

@keyframes blink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.06);
    }
}

#modal button:hover {
    background-color: #2a2a2a;
    border-color: rgb(217, 11, 11);
    transition-duration: 1s;
    transform: translateY(-2px);
    transition: 0.4s ease;
}

#modal button:active {
    transform: translateY(0);
    background-color: #000;
}